{% extends 'base.html' %}


{% block content %}
  <h1>{{ person.username }}님의 프로필</h1>
  <div>
    팔로워 : <span id = 'followers-count'>{{ person.followers.all|length }}</span> / 
    팔로잉 : <span id = 'followings-count'>{{ person.followings.all|length }}</span>
  </div>


  {% if request.user != person %}
  <div>
    <form id='follow-form' data-user-id="{{ person.pk }}">
      {% csrf_token %}
      {% if request.user in person.followers.all %}
        <input type="submit" value="언팔로우">
      {% else %}
        <input type="submit" value="팔로우">
      {% endif %}
    </form>
  <div>
  {% endif %}

  <h2>{{ person.username }}이 작성한 모든 게시글</h2>
  {% for article in person.article_set.all %}
    <div>{{ article.title }}</div>
  {% endfor %}

  <hr>

  <h2>{{ person.username }}이 작성한 모든 댓글</h2>
  {% for comment in person.comment_set.all %}
    <div>{{ comment.content }}</div>
  {% endfor %}

  <hr>

  <h2>{{ person.username }}이 좋아요 한 모든 게시글</h2>
  {% for article in person.like_articles.all %}
    <div>{{ article.title }}</div>
  {% endfor %}

  <a href="{% url 'articles:index' %}">back</a>

{% endblock content %}

{% block script %}
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    //follow 코드 작성
    const followForm = document.querySelector('#follow-form')
    const csrfToken = document.querySelector('input[name=csrfmiddlewaretoken]').value
    //console.log(csrfToken)
    followForm.addEventListener('submit', function (event) {
      event.preventDefault()
      // 서버에 요청
      // url : /accounts/${userId}/follow/
      // method : POST
      // data : {} 딱히 없음
      const userId = event.target.dataset.userId
      const requestInfo = {
        url: `/accounts/${userId}/follow/`,
        method : 'post',
        headers: {'X-CSRFToken' : csrfToken},
        data : {},
      }
      axios(requestInfo)
        .then(res => {
          console.log(res.data)
          const isFollowed = res.data.is_followed
          const followBtn = document.querySelector('#follow-form > input[type=submit]')
          followBtn.value = isFollowed ? '언팔로우': '팔로우'
          const followersCount = res.data.followers_count
          const followingsCount = res.data.followings_count
          const followersCountTag = document.querySelector('#followers-count')
          const followingsCountTag = document.querySelector('#followings-count')
          followersCountTag.innerText = followersCount
          followingsCountTag.innerText = followingsCount
        })
        .catch(err => {
          console.log(err)
        })
      
    })
  </script>
{% endblock script %}